.maindiv {
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  /* height: 400px; */
}
